*{
    color: white;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: auto !important;
}
.carousel-item img{
    height: 100vh;
}
#secciones{
    background-color: black;
}
section{
    margin-bottom: 5rem;
    --bs-columns: 3;
}
.card{
    margin: auto;
}


#presentacion i{
    display: block;
    text-align: center;
    background-color: #0dcaf0;
}